<div class="product-container">
  <!-- Looping all the data from filteredProducts array -->
  <!--  (click)="addToCart({id: product._id,prodName: product.prodName,cost: product.cost, price: product.price, onHand:
    product.qty})" -->
  <div *ngFor="let product of filteredProducts" data-toggle="modal" data-target="#exampleModal">
    <div style="text-align: center;">
      <strong>{{product.prodName}}</strong>
      <br>
      <div class="product-info">
        {{voidItem()}}
        <p for=""> {{product.price | currency: '‎₱'}}</p>
        <p for="">Qty: {{product.qty}}</p>
        <!-- <small for=""> {{product.dateCreated | date : 'MMMM d, y h:mm a'}} </small> -->
      </div>
    </div>
  </div>
  <!-- End -->
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
